//include includes/header

body
  .container
    .grid-flex-container
      .grid-flex-cell.header
        h1 Wikipedia Viewer
    .grid-flex-container
      .grid-flex-cell.hund
        input.form-input#searchbox(type='text')
    .grid-flex-container
      .grid-flex-cell.hund
        button.button.bg#random Random Article
    #results